/* Main role */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* start variables */
:root{
    --main-color:#198cfa;
}
/* End variables */
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
/* componant */

/* start container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* Meduim screen */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* larg screen */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End container */
/* End Main role */
/* Start Header */
header{

}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height: 1px;
    width: calc( 100% - 30px);
    bottom: 0;
    left: 15px;
   

}

header .container .logo img{
    height: 40px;
}
header .container .logo span{
    display: inline-block;
    color: #a2a2a2;
    font-size: 30px;
    font-family: "Share Tech", sans-serif;
    position: relative;
}
header .container .logo span::after{
    content: attr(data-name);
    position: absolute;
    color: var(--main-color);
    font-size: 12px;
    top: -5px;
    right: 0;

}

header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}
header nav .drop{
    position: relative;
}

header .container .toggle-menu{
    color: white;
    font-size: 22px;
}
@media(min-width:768px){
   header .container .toggle-menu{
    display: none;
   } 
}
header .container nav ul{
    display: flex;
    transition: 0.3s;
    
}
header .container nav ul li a{
    display: block;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 3;
}

@media(max-width:767px){
    header .container nav ul{
       box-shadow: 0 0 5px rgba(156, 145, 145, 0.5) ;
        display: none;
        width:calc( 100vw - 30px);
        background-color: black;
        z-index: 100;
    }
    header .container .drop:hover  ul{
     display: flex;
    flex-direction: column;
    position: absolute;
    top:  100%;
    right: -80px;
    }
    header .container nav ul li a{
        padding: 15px;
    }

}


header .container nav ul  a.active ,
header .container nav ul  a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .container nav  .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 1px solid white ;
}
header .container nav  .form i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */